@font-face {
    font-family: 'Pixeled'; 
    src: url('/assets/fonts/Pixeled.ttf');
}

body {
    margin: 0;
    overflow: hidden;
}

#gameCanvas {
    border: none;
    background-color: rgb(0, 0, 0);
}