@font-face {
    font-family: 'Pixel'; 
    src: url('/assets/fonts/pixelpro-2p.ttf');
}

body {
    margin: 0;
    overflow: hidden;
}

#gameCanvas {
    border: none;
    background-color: rgb(0, 0, 0);
}